#login {
	width: 25%;
	height: 150px;
	margin: 0px auto;
	text-align: center;
	background-position: center;
	}

.sticky {  
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    z-index: 100;  
    border-top: 0;  
}  