#login {
/*	width: 25%;
	height: 150px;*/
	margin: 0px auto;
	/*text-align: center;*/
	background-position: center;
	}

.sticky {  
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    z-index: 100;  
    border-top: 0;  
}  

.icons img {
	max-width: 30px;
}

p {
	font-size: 100% !important;
	text-align: right;
}

.alert-box {
	max-height: 50px !important;
}

#tiny {
	max-height: 30px !important;
}

#count {
	color: black;
}

#count:hover {
	color: white;
}